<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.mapper.Album.AlbumAttachMapper">	
	<!-- 첨부파일 등록 -->
	<insert id="insert"> 
		insert into album_attach (uuid, uploadpath, filename, filetype, ano) values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{ano}) 
	</insert>
	

	<!-- 특정 게시물에 달린 첨부파일 찾기 -->	
	<select id="findByAno" resultType="org.project.domain.Album.AlbumAttachVO">
		select * from album_attach where ano = #{ano}
	</select>

	<!-- 오래된(하루전) 파일들 가져오기 task를 이용하여 검사하기 위함. -->
	<select id="getOldFiles" resultType="org.project.domain.Album.AlbumAttachVO">
		select * from album_attach where uploadPath = to_char(sysdate-1, 'yyyy\mm\dd')
	</select>
	
	
	<!-- 특정 게시물에 달린 모든 첨부파일 삭제 -->
	<delete id="deleteAll">
		delete from album_attach where ano = #{ano}
	</delete>	
</mapper>