<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.mapper.Intro.IntroMapper">	
	<!-- 소개정보 등록 : 최초등록시만 필요 -->
	<insert id="insert">
		insert into intro (title, tscript, map, mscript, caption, address, addressdetail, intro, boardtype)  
		values (#{title}, #{tscript}, #{map}, #{mscript}, #{caption}, #{address}, #{addressdetail}, #{intro}, #{boardtype})			   
	</insert>
	<!-- 소개정보조회 -->
	<select id="read" resultType="IntroVO">
		select * from intro where boardtype = #{boardtype}
	</select>		
	<!-- 소개정보 수정 -->
	<update id="update">		
		update intro set title=#{title}, tscript=#{tscript}, 
			   map=#{map}, mscript=#{mscript}, caption=#{caption}, address=#{address}, addressdetail=#{addressdetail}, 
			   intro=#{intro}, updatedate=current_timestamp 
		where boardtype=#{boardtype}		
	</update>	
</mapper>